<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Google Contacts</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            margin: 0 5px;
        }
    </style>
</head>
<body>
    <h1>Contact List</h1>
    <p><a th:href="@{/api/contacts/new}">Add New Contact</a></p>

    <ul>
        <li th:each="contact : ${contacts}" th:text="${contact}"></li>
      </ul>
    
      
</body>
</html>
